<div class="form-container">
    <div class="d-flex flex-row justify-content-between mb-4">
        <h2 mat-dialog-title class="mb-0">Settings</h2>
        <div class="options-menu">
            <button mat-icon-button (click)="closeSettings()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider class="mb-16"></mat-divider>

    <table class="ml-8 wp-100">
        <tr *ngIf="currentThemeData$ | async as _currentThemeData">
            <td class="py-8">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mat-heading-1 mb-0">Theme</div>
                    <span>:</span>
                </div>
            </td>
            <td class="pl-8 py-8">
                <button mat-stroked-button [matMenuTriggerFor]="themeMenu"
                    [ngClass]="{ 'dark-mode': selectedTheme.darkMode }">
                    <span *ngIf="selectedTheme" class="mr-32">{{ selectedTheme.name }}</span>
                    <span [style.background]="selectedTheme.primary" class="color-tile"></span>
                </button>
                <mat-menu #themeMenu="matMenu" xPosition="before" class="w-150">
                    <div class="d-flex flex-col px-4">
                        <ng-container *ngFor="let theme of _currentThemeData.availableThemes; trackBy: trackByFn">
                            <button mat-button (click)="selectTheme(theme)" class="text-front px-14">
                                <span class="d-flex p-4 border-radius-4" [ngClass]="{ 'dark-mode': theme.darkMode }">
                                    <span class="mr-32">{{ theme.name }}</span>
                                    <span [style.background]="theme.primary" class="color-tile mt-4"></span>
                                </span>
                            </button>
                        </ng-container>
                    </div>
                </mat-menu>
            </td>
        </tr>
        <tr>
            <td class="py-8">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mat-heading-1 mb-0">Dark Mode</div>
                    <span>:</span>
                </div>
            </td>
            <td class="pl-8">
                <mat-slide-toggle [checked]="selectedTheme?.darkMode" (change)="toggleDarkModeTheme()">
                </mat-slide-toggle>
            </td>
        </tr>
    </table>

</div>