<mat-toolbar class="miniNavbar text-black" color="primary">
    <ul>
        <li class="nav-action side">
            <a class="text-match-bg" routerLink="/home/work-list" routerLinkActive="active" mat-button>
                <span class="nav-icon-text">
                    <mat-icon class="material-icons-outlined">checklist</mat-icon>
                    <span class="mat-caption">Tasks</span>
                </span>
            </a>
        </li>
        <li class="nav-action side">
            <a class="text-match-bg" routerLink="/home/groups" routerLinkActive="active" mat-button>
                <span class="nav-icon-text">
                    <mat-icon class="material-icons-outlined">grid_view</mat-icon>
                    <span class="mat-caption">Groups</span>
                </span>
            </a>
        </li>
        <li class="nav-action middle">
            <button mat-fab (click)="openMainActionMenu()">
                <mat-icon class="material-icons-outlined">add</mat-icon>
            </button>
        </li>
        <li class="nav-action side">
            <a class="text-match-bg" routerLink="/home/notes" routerLinkActive="active" mat-button>
                <span class="nav-icon-text">
                    <mat-icon class="material-icons-outlined">splitscreen</mat-icon>
                    <span class="mat-caption">Notes</span>
                </span>
            </a>
        </li>
        <li class="nav-action side">
            <a class="text-match-bg" routerLink="/home/profile" routerLinkActive="active" mat-button>
                <span class="nav-icon-text">
                    <mat-icon class="material-icons-outlined">person_outline</mat-icon>
                    <span class="mat-caption">Profile</span>
                </span>
            </a>
        </li>
    </ul>
</mat-toolbar>